.todo-header {
    display: flex;
    
}
#todoInput {
    flex-grow: 1;
    padding: 12px 15px;
    font-size: 16px;
    background-color: #3c3c3c;
    border: none;
    border-radius: 8px;
    color: #e0e0e0;
    margin-right: 15px;
}
#addTodo {
    background-color: #4a4a4a;
    color: #00b4d8;
    border: none;
    border-radius: 8px;
    padding: 12px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.todo-container {
    
    background-color: #2c2c2c;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    width: 100%;
    max-width: 500px;
    padding: 30px;
    margin-top: 300px;
}
